@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #fbb381;
    --white: #FFF;
    --text-color: #FFF;
    --bg-color: #080808;
    --second-bg-color: #151515;
    /* --dark-color: #242323; */
    --light-color: #666;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 10rem;
}

::-webkit-scrollbar-track {
    color: transparent;
}

::-webkit-scrollbar-thumb {
    color: var(--main-color);
}

html {
    font-size: 63.5%;
}

body {
    background-color: var(--bg-color);
}

/* ********************************************** */
/* Dari */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    margin-bottom: 2rem;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.header .dari a {
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 1rem;
}

.header .dari a#Mamai {
    color: var(--main-color);
    text-decoration: underline;
}

.header .dari a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/* ********************************************** */
/* Mamai */

section {
    padding: 5rem 5%;
}

.mamai {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.mamai .upu {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.mamai .upu h1 {
    font-size: 4rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.mamai .upu h1 span {
    color: var(--main-color);
}

.mamai .upu h3 {
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.mamai .upu p {
    color: var(--text-color);
    font-size: 1.2rem;
    text-transform: lowercase;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 1rem;
    text-align: left;
}

.mamai .upu .flex-btn {
    display: inline-block;
}

.mamai .upu .flex-btn .btn {
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: .2rem solid var(--main-color);
    border-radius: 3rem;
}

.mamai .upu .flex-btn .btn.hire {
    background-color: var(--main-color);
    color: var(--dark-color);
    border: none;
}

.mamai .upu .flex-btn .btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    box-shadow: .1ren .5rem 1rem var(--main-color);
}

.mamai .upu .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.mamai .upu .icons i {
    color: var(--main-color);
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: 1rem;
    border-radius: 50%;
}

.mamai .upu .icons i:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: .1rem .5rem 1rem var(--main-color);
}

.mamai img {
    margin: 1.5rem 0 0 3rem;
    border-radius: 50%;
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    box-shadow: 0 0 2.5rem var(--main-color);
}

.mamai img:hover {
    box-shadow: 0 0 2.5rem var(--main-color),
        0 0 5rem var(--main-color),
        0 0 10rem var(--main-color);
}

.text-animation {
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    max-width: 28rem;
    font-weight: 600;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "website developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,
        typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Frontend Developer";
    }

    21%,
    40% {
        content: "Website Designer";
    }

    41%,
    60% {
        content: "Website Developer";
    }

    61%,
    80% {
        content: "Backend Developer";
    }

    81%,
    100% {
        content: "Network Engineer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.arangbam i {
    color: var(--white);
    font-size: 2rem;
    display: none;
}

.arangbam i:hover {
    color: var(--main-color);
    text-shadow: .1rem .5rem 1rem var(--main-color);
}

/* ********************************************** */
/* Mahei */
.mahei {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--second-bg-color);
}

.mahei .heading {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 7rem;
}

.mahei .timeline-items {
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.mahei .timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.mahei .timeline-items .timeline-item {
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
}

.mahei .timeline-items .timeline-item:last-child {
    margin-bottom: 0;
}

.mahei .timeline-items .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.mahei .timeline-items .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
    text-align: left;
}

.mahei .timeline-items .timeline-item .timeline-dot {
    position: absolute;
    left: calc(50% - 8px);
    top: 0px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.mahei .timeline-items .timeline-item .timeline-date {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.mahei .timeline-items .timeline-item .timeline-content {
    padding: 1rem;
    width: 35rem;
    border: .2rem solid var(--main-color);
    border-radius: 3rem;
    transition: .5s ease-in-out;
}

.mahei .timeline-items .timeline-item .timeline-content:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 25px var(--main-color),
        0 0 25px var(--main-color);
}

.mahei .timeline-items .timeline-item .timeline-content h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.mahei .timeline-items .timeline-item .timeline-content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2;
    text-transform: capitalize;
}

/* ********************************************** */
/* Ehei*/
.eina-heijaba {
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.eina-heijaba .heading {
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.eina-heijaba .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.eina-heijaba .box-container .box {
    background-color: var(--main-color);
    width: 40rem;
    padding: 2rem;
    border-radius: 3rem;
    border: .2rem solid var(--main-color);
    transition: .5rem ease-in-out;
}

.eina-heijaba .box-container .box:hover {
    background-color: var(--white);
    box-shadow: .1rem .5rem 1rem var(--main-color);
    scale: 1.1;
}

.eina-heijaba .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--dark-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.eina-heijaba .box-container .box p {
    font-size: 1.2rem;
    color: var(--dark-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.eina-heijaba .box-container .box:hover p,
.eina-heijaba .box-container .box:hover h3 {
    color: var(--bg-color);
}

.nampham {
    width: 15rem;
    height: 4rem;
    align-items: center;
    border-radius: 20px;
}

.nampham:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 2.5rem var(--main-color);
}

.nampham a {
    font-weight: bolder;
    color: var(--bg-color);
}

/* ********************************************** */
/* Thoudang */
.ethoudang {
    min-height: 100rem;
    background-color: var(--second-bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ethoudang .heading {
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.ethoudang .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.ethoudang .box-container .box img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: .1rem .5rem 1rem var(--main-color);
    border: .2rem solid var(--main-color);
}

.ethoudang .box-container .box {
    background-color: var(--bg-color);
    border-radius: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 3rem 1rem;
    width: 30rem;
    border: .1rem solid var(--main-color);
}

.ethoudang .box-container .box h3 {
    color: var(--text-color);
    font-size: 1.8rem;
}

.ethoudang .box-container .box p {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 2;
    text-transform: lowercase;
}

.ethoudang .box-container .box .stars i {
    color: gold;
    font-size: 1rem;
    margin: 1rem 0;
}

.ethoudang .box-container .box:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    transform: translateY(-2rem);
    cursor: pointer;
}

/* ********************************************** */
/* Pao Phaonafam */
.poa-phaopham {
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.poa-phaopham .heading {
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.poa-phaopham .heading span {
    color: var(--main-color);
}

.poa-phaopham .form-container {
    width: 100%;
}

form {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    

}

form .inputs, form .text {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;

}

form .inputs {
    width: 50%;
    align-items: end;
}

.name, .email, .phone-number,
.subject, .message {
    width: 80%;
    padding-bottom: 1rem;
}

form .text {
    width: 50%;
}


.poa-phaopham .form-container form .inputs .input,
.poa-phaopham .form-container form .text input,
.poa-phaopham .form-container form .text textarea {
    background-color: var(--bg-color);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    border: .1rem solid var(--main-color);
    outline: none;
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.label {
    color: var(--white);
    font-size: 1.6rem;
    border: none;
    padding-left: 1rem;
    width: 90%;
}

.poa-phaopham .form-container form .text textarea {
    height: 15rem;
    resize: none;
}

.error-text {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: 0 10px 0;
    display: none;
}

.yaga.error .error-text {
    display: block;

}

.poa-phaopham .form-container form .text .btn {
    color: var(--dark-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.poa-phaopham .form-container form .text .btn:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 25px var(--main-color),
        0 0 50px var(--main-color);
}


/* ********************************************** */
/* Loisinfam */

.footer {
    background-color: var(--second-bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer .icons i {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 1rem;
}

.footer .icons i:hover {
    color: var(--main-color);
}

.footer .dari {
    margin: 2rem 0;
}

.footer .dari a {
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 2rem 1rem;
}

.footer .dari a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.footer .credit p {
    font-size: 1.3rem;
    color: var(--light-color);
    text-transform: capitalize;
}

.footer .credit p i,
.footer .credit p span {
    color: var(--main-color);
    cursor: pointer;
    transition: .5s;
}

.footer .credit p span:hover {
    color: rgb(253, 253, 253);
    transform: scale(1.5);
    transition: .5s;
}

/*********************************************************/
/* Tablet View */
@media(max-width:990px) {
    html {
        font-size: 55.5%;
    }

    .mamai {
        flex-flow: column-reverse;
        padding: 8rem 0;
        padding-top: 15rem;
    }
}

/*********************************************************/
/* Mobile View */
@media screen and (max-width: 767px){
    html {
        font-size: 50.5%;
    }

    .mamai img {
        height: 35rem;
        width: 35rem;
    }

    .mamai {
        padding: 8rem 0;
    }

    section {
        padding: 1rem;
    }

    .header {
        position: relative;
        padding: 0;
    }

    .header .logo,
    .header .arangbam {
        padding: 1rem;
    }

    .arangbam i {
        display: flex;
    }

    .header .dari {
        position: absolute;
        top: 7rem;
        right: 0;
        display: none;
        text-align: center;
        justify-content: center;
        background-color: var(--main-color);
        width: 100%;
        gap: 2rem;
        padding: 1rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 5px;
    }

    .header .dari.active {
        display: grid;
        width: 50%;
    }

    .arangbam {
        cursor: pointer;
    }

    .header {
        position: relative;
        width: 100%;
    }

    #khumjanba-icon {
        display: none;
    }

    .header .dari.active ~ .arangbam #arangbam-icon {
        display: none;
    }

    .header .dari.active ~ .arangbam #khumjanba-icon {
        display: block;
    }

    .header.dari a#Mamai {
        color: var(--text-color);
        text-decoration: none;
    }

    .header .dari a {
        width: 100%;
        padding: 1rem;
    }

    .header .dari a:hover,
    .header .dari a#Mamai:hover {
        background-color: var(--white);
        color: var(--main-color);
        text-decoration: none;
    }

    .mamai .upu {
        width: 90%;
    }

    .mamai .upu p {
        width: fit-content;
    }

    .mahei .timeline-items .timeline-item:nth-child(2n) {
        padding-left: calc(50% + -105px);
    }

    .mahei .timeline-items .timeline-item .timeline-content {
        background-color: var(--bg-color);
    }

    .mahei .timeline-items .timeline-item .timeline-dot {
        left: calc(50% - 7px);
        top: 1px;
    }

    .mahei .timeline-items .timeline-item .timeline-date {
        padding-left: 60px;
    }

    form {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    form .inputs,
    form .text {
        align-items: center;
        width: 90%;
    }

}

/***********************************************************************/


/* @media (max-width:450px) {
    .mamai .upu p {
        width: 35px;
    }

    .mahei .timeline-items {
        display: grid;
    }

    .poa-phaopham .form-container form {
        display: grid;
    }

    .poa-phaopham .form-container form .inputs,
    .poa-phaopham .form-container form .text {
        width: 100%;
    }

    .poa-phaopham .form-container form .inputs .input,
    .poa-phaopham .form-container form .text textarea {
        width: 100%;
    }

    .poa-phaopham {
        padding: 1rem 0;
    }

} */